name: Allure Report

on:
  - push
  - pull_request

env:
    ODIN: direct-i-03056e50fb32fd027
    TYPE: ${{ secrets.TYPE }}

jobs:
  autotests:
    name: Run tests and generate Allure Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install Packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Install Google Chrome
        run: |
          chmod +x ./scripts/installChrome.sh
          ./scripts/installChrome.sh

      - name: Run ${{env.TYPE}} Test
        if: ${{env.TYPE}} == 'WEB' || ${{env.TYPE}} == 'API'
        run: pytest -m $TYPE --alluredir=allure-results
        continue-on-error: true
        
      - name: Run all Test
        run: pytest --alluredir=allure-results
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: allure-history
     

