name: Allure Report

on:
  - push
  - pull_request

env:
    ODIN: ${{ secrets.ODIN_ID }}
    TYPE: ${{ secrets.TYPE }}

jobs:
  autotests:
    name: Run tests and generate Allure Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        
      - name: Install Firefox 
        uses: browser-actions/setup-geckodriver@latest

      - if: ${{env.TYPE}} == 'WEB'
        name: Run Web Test
        run: |
          pytest -m WEB --alluredir=allure-results
      - if: ${{env.TYPE}} == 'API'
        name: Run API Test
        run: |
          pytest -m API --alluredir=allure-results
      - if: ${{env.TYPE}} == 'ALL'
        name: Run all Test
        run: |
          pytest --alluredir=allure-results

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: allure-history
     

